<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl"></bean>-->
    <!--    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl">-->
    <!--        <property name="userDao" ref="userDao"></property>-->
    <!--    </bean>-->

    <!--  Learn bean  -->
    <!--    <bean id="bean1" class="com.itheima.Bean1" />-->
    <!--    <bean id="bean2" class="com.itheima.MyBean2Factory" factory-method="createBean" />-->

    <!--  这里配置了一个Bean工厂  -->
    <!--    <bean id="myBean3Factory" class="com.itheima.MyBean3Factory" />-->
    <!--    <bean id="bean3" factory-bean="myBean3Factory" factory-method="createBean" />-->

</beans>