<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<!-- Begin Head -->

<head>
  <title>借阅管理 - 图书管理系统</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="MobileOptimized" content="320">
  <!--Start Style -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/icofont.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
  <link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>

<body>
<div class="loader">
  <div class="spinner">
    <img th:src="@{/static/picture/loader.gif}" alt="">
  </div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
  <div th:replace="template.html::title"></div>
  <div th:replace="template.html::aside"></div>

  <div class="page-wrapper">
    <div class="main-content">
      <div class="section--notification">
        <header class="notification-header">
          <h3>通知</h3>
          <ion-icon name="settings-outline" class="notification-header--icon"></ion-icon>
        </header>
        <div class="notification-container">
          <menu class="notification-menu">
            <div class="notification-menu--item">全部</div>
            <div class="notification-menu--item">已认证</div>
            <div class="notification-menu--item">提及</div>
          </menu>
          <article class="notification-content">
            <div class="notification-content-box">
              <div class="profile-image-box">
                <img th:src="@{/static/picture/profile-1.jpg}" class="profile-image" />
                <ion-icon name="ellipsis-horizontal" class="profile-image-box--icon"></ion-icon>
              </div>
              <div class="notification-content-main">
                <h4 class="author">Laura Berry</h4>
                <p class="notification-content-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </article>

          <article class="notification-content">
            <div class="notification-content-box">
              <div class="profile-image-box">
                <img th:src="@{/static/picture/profile-2.jpg}" class="profile-image" />
                <ion-icon name="ellipsis-horizontal" class="profile-image-box--icon"></ion-icon>
              </div>
              <div class="notification-content-main">
                <h4 class="author">Lucas Wixx</h4>
                <p class="notification-content-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </article>

          <article class="notification-content">
            <div class="notification-content-box">
              <div class="profile-image-box">
                <img th:src="@{/static/picture/profile-3.jpg}" class="profile-image" />
                <ion-icon name="ellipsis-horizontal" class="profile-image-box--icon"></ion-icon>
              </div>
              <div class="notification-content-main">
                <h4 class="author">Joyce Max</h4>
                <p class="notification-content-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Script Start -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/swiper.min.js}"></script>
<script th:src="@{/static/js/apexcharts.min.js}"></script>
<script th:src="@{/static/js/control-chart-apexcharts.js}"></script>
<!-- Page Specific -->
<script th:src="@{/static/js/nice-select.min.js}"></script>
<!-- Custom Script -->
<script th:src="@{/static/js/custom.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>